.studysmarterupload{} /* file upload button span*/
.ssupload{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
    padding: 0.5rem 2rem !important;
    border-radius: 100rem !important;
    border: none !important;
    font-size: 1rem !important;
    margin: 0.5rem 0 !important;
}
.ssupload:hover{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
}
/* file upload button*/
.subjectselectspan select{
    margin-right: 1rem !important;
} /* subject dropdown span*/
#subject{} /* subject dropdown */
.uploadallspan{} /*upload all btn span*/
.uploadall{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
    padding: 0.5rem 2rem !important;
    border-radius: 100rem !important;
    border: none !important;
    font-size: 1rem !important;
}
.uploadall:hover{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
}
/*upload all btn*/
.logoutspan{} /*logout btn span*/
.logoutbtn{
    border-radius: 100rem !important;
    border: 1px solid #000c65 !important;
    color: #000c65 !important;
    background: white !important;
    padding: 0.5rem 1rem !important;
    float: right;
} /*logout btn*/
.logoutbtn:hover{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
    color: white !important;
}
.loginbtnspan i{ 
    color: lightgrey !important;
    font-size: 30px !important;
}/*login btn span*/
.ssloginbtn{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
    padding: 0.5rem 2rem !important;
    border-radius: 100rem !important;
    border: none !important;
    font-size: 1rem !important;
    margin: 1rem 1rem 1rem 0;
}
.ssloginbtn:hover{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
}
/*login btn*/
#sslogincard input{
    border-radius: 0.5rem !important;
} /*login form card*/
#sslogincard .btn-outline-primary{
    border-radius: 100rem !important;
    border: 1px solid #000c65 !important;
    color: #000c65 !important;
    padding: 0.5rem 1rem !important;
}
#sslogincard .btn-outline-primary:hover{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
    color: white !important; 
}
.loginform{} /*login form*/
.sslogin{
    background: linear-gradient(to right,#000c65,#0a3181) !important;
    padding: 0.5rem 2rem !important;
    border-radius: 100rem !important;
    border: none !important;
    font-size: 1rem !important;
} /*form login btn*/
.sslogin:hover{
    background: linear-gradient(to right,#000842,#07235c) !important;
}